$dark: #333;
$light-pink-transparent: rgba(255, 169, 249, 0.4235294118);
$light-green-transparent: rgba(223, 255, 201, 0.7215686275);
$font-color: #191919;
$dark-red: #9a2018;
$light-gray: #efefef;
$orange: #e89836;
$medium-blue: #0080c8;
$button-color: #73bf7e;
$light-yellow: #feffeb;
$cyan: #04c4d9;
$pink: #f21b6a;
$yellow: #f2b90c;
$grey: #a19f9f;
$button-color-hover: #1dda00;

$font-body: "Jost", monospace;
$font-header: "Gupter", sans-serif;
