#earbud-info-con {
  background-color: rgba(155, 152, 218, 0.326);
  margin-top: -10px;
}

#earbud-infos {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  flex-direction: column;
}
#earbud-infos > div {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 91, 117, 0.125);
  padding: 40px;
  border-radius: 20px;
}

#earbud-infos > div > img {
  width: 80px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  #earbud-info-con {
    background-color: rgba(155, 152, 218, 0.326);
    padding: 50px;
  }
  #earbud-infos {
    gap: 5rem;
    padding: 50px;
    flex-direction: row;
  }
}
