/* ---Demo Video--- */
:root {
  /* psuedo class */
  --plyr-color-main: #f21b6a;
  --plyr-badge-background: #feffeb;
  --plyr-video-control-background-hover: #f21b6ad7;
  --plyr-control-icon-size: 20px;
  --plyr-control-radius: 20px;
  --plyr-font-family: "Gupter", Arial, Helvetica, sans-serif;
  --plyr-control-spacing: 15px;
}
